* {
  font-family: 'Nanum Gothic', sans-serif;
}

.App {
  text-align: center;
}

.logo img {
  width: 10em;
}

.App-header {
  align-items: center;
  background-color: white;
  height: 70px;
  padding: 20px;
}

.logo-home img{
  width: 9em;
}

.App-header-home {
  align-items: center;
  background-color: white;
  height: 1.2em;
  padding: 1em;
}

.App-intro {
  font-size: large;
}

.logout-button {
  font-size: 0.8em;
  font-weight: 700;
  color: rgb(23, 73, 179);
  background-color: rgba(224,224,224,1);
  border: none;
  background: transparent;
  float: right;
}

.sign-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 238, 238);
  border-bottom: 1px solid rgb(228, 228, 230);
}

.less-important, .form-description {
  font-size: 0.9em;
  font-weight: 700;
  color: rgb(23, 73, 179);
  margin: 0 0 3em 0; 
  border: none;
  background: transparent;
}

.app-message {
  padding: 0px;
  color: rgb(230, 39, 39);
  font-size: 0.8em;
  margin: 4px 0 0 0;
}

.form-title {
  text-transform: uppercase;
  color: rgb(23, 73, 179);
  margin: 34px 0 8px 18px;
  font-size: 1.0em;
  font-weight: 700;
  text-align: left;
}

.form-item input {
  width: 190px;
  border: 1px solid rgba(224,224,224,1);
  outline: 0 none;
  padding: 8px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.app-button {
  text-transform: uppercase;
  width: 240px;
  height: 50px;
  border-radius: 100px;
  background-color: rgb(23, 73, 179);
  font-size: 1.0em;
  margin: 20px 0 20px 0;
  color: white;
  font-weight: 400;
}

.app-button-white {
  width: 5em;
  height: 5em;
  border: rgb(255, 88, 0);
  border-radius: 2px;
  background-color:rgb(255, 174, 0);
  font-size: 1em;
  margin: 20px 0 20px 0;
  color: white;
  font-weight: 700;
  text-align: center;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.199);
}

.app-button-white p {
  margin: 0;
  font-weight: 700;
}

.search-form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: rgb(23, 73, 179);
  padding: 14px 0 10px 0;
}

.search-url {
  display: flex;
}

.form-item label {
  text-transform: uppercase;
  display: block;
  width: 200px;
  text-align: left;
  font-weight: 700;
  color: rgb(159, 159, 159);
  font-size: 0.7em;
  margin: 12px 0 4px 19px;
}

.search-url label {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  margin: 0 0.6em 3em 0.7em;
  color: white;
  font-size: 0.7em;
  width: 200px;
}

.search-left input {
  width: 12em;
  border: 1px solid rgba(224,224,224,1);
  outline: 0 none;
  padding: 0.9em;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin:0 0 1em 0;
}

#make-less {
  width: 10.8em;
  border: 1px solid rgba(224,224,224,1);
  outline: 0 none;
  padding: 0.9em;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin:0 0 1em 0;
}

.search-left {
  display: flex;
  flex-direction: column;
}

.moreover {
  padding: 0 0 0 7px;
}

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tags input {
  width: 7.8em;
  margin:0 0.8em 0 0;
}

.tags label {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 6px;
  color: white;
  font-size: 0.7em;
}

h5 {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  color: rgb(159, 159, 159);
}

.youtube {
  /* background-color: palegoldenrod; */
  width:80%;
  margin: 0 auto;
  padding-top: 1em; 
}

.youtube-inner {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 0 4em 0;
  background-color: rgba(181, 181, 181, 0.214);
}

.youtube-item {
  /* background-color: white; */
  margin: 0.6em;
  width: 30%;
}

.urls-form {
  margin: 1em auto 0 auto;
  width: 28em;
  height: 6em;
  background-color: rgb(255, 255, 255);
  text-align: left;
  border-radius: 0.1em;
}

.link-list {
  display: flex;
  flex-direction: column;
}

.app-title, h2{
  margin-top: 1.4em;
  margin-bottom: 0;
  font-size: 1em;
}

.links-filter-list-inner {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: rgba(181, 181, 181, 0.214);
  text-align: left;
  border-radius: 0.1em;
}

.radio {
  background-color: rgba(92, 124, 193, 0.3);
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
  padding: 0.6em;
}

.tags-list {
  font-size: 0.8em;
  align-self: flex-start;
  overflow: scroll;
  width: 14em;
  height: 38em;
  background-color: rgb(255, 255, 255);
}

.tags-list div {
  padding: 0.52em 0 0 1em;
}

.filter-button {
  background-color: rgba(92, 124, 193, 0.3);
  text-align: center;
  padding: 0.6em;
  margin: 0em 0 0.8em 0;
}

.apply-check-btn {
  font-size: 0.7em;
  padding: 0.6em 2.6em;
  color: white;
  font-weight: 400;
  border-radius: 0.1em;
  text-align: center;
  background-color:rgb(255, 174, 0);
}

.clear-check-btn {
  font-size: 0.7em;
  padding: 0.6em 0.7em;
  color: rgba(128, 128, 128, 0.6);
  font-weight: 400;
  border-radius: 0.1em;
  margin-right: 0.4em;
  text-align: center;
  background-color:rgb(242, 242, 242);
}

.url-delete img {
  width: 5%;
  float: right;
  margin: 0.6em 0.6em 0 0;
  cursor: pointer;
  z-index: 2em;
}

.link-title {
  clear: both;
  font-size: 0.9em;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin: 1.2em 0 0 1.4em;
  display: inline-block;
  cursor: pointer;
}

.link-url {
  font-size: 0.8em;
  font-weight: 700;
  color: rgb(23, 73, 179);
  margin: 0em 0 0 1.6em;
  display: inline-block;
  cursor: pointer;
}

.tags-form {
  display: flex;
  flex-direction: row;
  margin: 0.6em 0 0.1em 0;
}

.link-tags {
  padding: 0.75em 1em 0.75em 1em;
  background-color: rgb(23, 73, 179);
  color: white;
  font-size: 0.8em;
  border-radius: 0.2em;
  margin: 0 0.4em 0.1em 0;
}

.links-list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 30em;
  height: 36em;
  margin: 1em 0;
  background-color: rgba(255, 255, 255, 0.37);
}

.isEmpty {
  font-size: 0.8em;
  padding: 6em;
  margin: 2em auto;
  width: 50%;
  background-color: rgba(181, 181, 181, 0.214);
  border-radius: 0.1em;
}
